/* Write your CSS here */
.bg-container {
  background-color: #07080c;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speed-img {
  height: 250px;
  width: 250px;
  text-align: center;
}
.heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #ffffff;
  font-style: italic;
}
.speed-count {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
.button-container {
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 15px;
  margin-left: 12px;
  margin-right: 12px;
  outline: none;
  cursor: pointer;
}
.speed-limit {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
.button1 {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
}
.button2 {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #94a3b8;
  background-color: transparent;
  border: 2px solid #94a3b8;
}
